.compare {
  background-color: transparent;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;

  @media (max-width: 760px) {
    padding-top: 1.5rem;
  }

  @media (max-width: 460px) {
    padding: 2.5rem 1rem;
  }

  &__wrap {
    width: 100%;
    max-width: 1100px;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #4f4f4f;
    text-align: center;

    @media (max-width: 760px) {
      padding-left: 3rem;
      font-size: 1.6rem;
    }
  }

  &__user {
    width: 100%;
    margin-top: 1rem;
    height: 100%;
  }

  &__results {
    margin: 1.5rem 1rem -2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 710px) {
      margin: 2rem 1rem -1.5rem;
    }
  }

  &__result {
    flex: 0 0 50%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 710px) {
      padding: 1rem 1rem;
      flex: 0 0 80%;
    }

    @media (max-width: 500px) {
      flex: 0 0 100%;
    }
  }

  &__part {
    font-size: 1.5rem;
    
    &-rest {
      text-align: center;
      margin-top: 3.5rem;
    }
  }

  &__rest {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .compare__result {
      padding: 1rem 1rem;
    }
  }
}

.loader {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.error {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
