<div class="card">
    <div class="card__wrapper">
        <ng-container *ngIf="user; else loader">
            <a href="#" [routerLink]="'/user/' + user.id" style="display: block">
            <header class="user__header" >
                <div class="user__photo">
                    <img [src]="user.avatar_url">
                </div>
                <div class="user__info">
                    <div class="user__name">
                        {{ user.name }}
                    </div>
                    <div class="user__username">
                        Ник: {{ user.username }}
                    </div>
                    <div class="user__id">
                        ID: {{ user.id }}
                    </div>
                </div>
            </header>
            </a>

            <div class="user__main">
                <ng-container *appPrivateProfile="user.actions.commit === 0; else privateProfile">
                    <div class="user__commits">
                        Коммиты: {{ user.actions.commit }}
                    </div>

                    <div class="user__review">
                        Код-ревью: {{ user.actions.approved }}
                    </div>
                </ng-container>

                <ng-template #privateProfile>
                    <div class="user__commits" style="color: red">
                        У пользователя приватный или неактивный профиль
                    </div>
                </ng-template>


                <div class="user__link-wrap">
                    <a [href]="user.web_url" class="user__link" target="_blank">
                        Ссылка на GitLab
                    </a>
                </div>
                <div class="user__grow"></div>
                <a href="#" id="info" class="button user__show" [routerLink]="'/user/' + user.id">
                    <span class="button__text">Подробнее</span>
                </a>
                <div class="user__buttons">
                    <div class="user__compare">
                        <button class="compare__button" (click)="toggleCompare()" [ngClass]="{incompare: toCompare}">
                            <ng-container *ngIf="!toCompare; else inCompare">
                                В сравнение
                            </ng-container>
                            <ng-template #inCompare>
                                Добавлено
                            </ng-template>
                        </button>
                    </div>
                    <div class="user__delete delete">
                        <div class="delete__wrap" (click)="deleteUser()">
                            <img src="assets/images/icons/rubbish.png" alt="">
                            <img src="assets/images/icons/rubbish-top.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #loader>
            <div class="loader"></div>
        </ng-template>
    </div>
</div>


