<section class="user" @enter @leave>

    <app-back></app-back>

    <ng-container *ngIf="user; else loader">
        <div class="user__wrapper" @enter @leave>

            <header class="user__header">

                <div class="user__photo">
                    <div class="user__photo-wrap">
                        <img [src]="user.avatar_url" alt="">
                    </div>
                </div>

                <div class="user__info">

                    <h1 class="user__name">
                        {{ user.name }}
                    </h1>

                    <div class="user__username">
                        Ник: {{ user.username }}
                    </div>

                    <div class="user__id">
                        ID: {{ user.id }}
                    </div>

                </div>

            </header>

            <div class="user__body">

                <ng-container *appPrivateProfile="user.actions.commit === 0; else privateProfile">

                    <div class="user__flex user-flex user-flex-main">
                        <div class="user-flex__item">
                            <div class="user__commits" [appColorCount]="user.actions.commit">
                                Коммиты: {{ user.actions.commit }}
                            </div>

                            <div class="user__approved" [appColorCount]="user.actions.approved" [approved]="true">
                                Код-ревью: {{ user.actions.approved }}
                            </div>
                        </div>
                        <div class="user-flex__item">
                            <div class="user__day">
                                Самый активный день: {{ user.activeDay | day }}
                            </div>

                            <div class="user__time user-time">
                                <div class="user-time__item">
                                    Самое активное время:
                                </div>
                                <div class="user-time__item">
                                    {{ user.activeTime | time }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user__flex user-flex user-flex-all">
                        <div class="user-flex__item">
                            <div class="user__langs user-langs">
                                <div class="user__part">
                                    Языки программирования:
                                </div>
                                <div class="user-langs__langs">
                                    <ng-container *ngIf="user.languages.length > 0; else noLangs">
                                        <ng-container *ngFor="let lang of user.languages; let i = index">
                                            <div class="user-langs__lang">
                                                {{ lang }}
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    <ng-template #noLangs>
                                        <div class="user-langs__empty">
                                            Нет данных
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="user-flex__item">
                            <div class="user__stats user-stats">
                                <div class="user__part">
                                    Статистика по коммитам:
                                </div>
                                <div class="user-stats__stat">
                                    Строк добавлено: {{ user.statsLines.additions }}
                                </div>
                                <div class="user-stats__stat">
                                    Строк удалено: {{ user.statsLines.deletions }}
                                </div>
                                <div class="user-stats__stat">
                                    Всего: {{ user.statsLines.total }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #privateProfile>
                    <div class="user__private" style="color: red">
                        У пользователя приватный или неактивный профиль
                    </div>
                </ng-template>

                <div class="user__link-wrap">
                    <a [href]="user.web_url" class="user__link" target="_blank">
                        Ссылка на GitLab
                    </a>
                </div>

                <div class="user__compare compare">
                    <button class="compare__button" (click)="toggleCompare()" [ngClass]="{incompare: toCompare, disabled: user.actions.commit == 0}">
                        <ng-container *ngIf="!toCompare; else inCompare">
                            В сравнение
                        </ng-container>
                        <ng-template #inCompare>
                            Добавлено
                        </ng-template>
                    </button>
                </div>

            </div>

        </div>
    </ng-container>

    <ng-template #loader>
        <ng-container *ngIf="!isError; else error">
            <div class="loader" @enter @leave>
                <img src="assets/images/icons/loader-black.svg" alt="">
            </div>
        </ng-container>

        <ng-template #error>
            <div class="user__error" @enter @leave>
                Ошибка запроса. Такое может происходить, если слишком много коммитов и проектов
            </div>
        </ng-template>

    </ng-template>

</section>
