<header class="header">
  <div class="container">
    <form action="" [formGroup]="formSearch" (ngSubmit)="getUser()" class="header__form" @appear>

      <div class="header__row">

          <div class="header__small">
            <div class="header__switcher header-switcher">
              <div class="header-switcher__wrapper">
                <div class="header-switcher__question">
                  Поиск по
                </div>
                <div class="header-switcher__switcher">
                  <div class="header-switcher__var">id</div>
                  <label ngDefaultControl [formControl]="formSearch.controls.switchSearch" class="header-switcher__label" [ngClass]="{active: !formSearch.controls.switchSearch.value}"
                         (click)="switchSearch()">
                  </label>
                  <div class="header-switcher__var">нику</div>
                </div>
              </div>
            </div>
          </div>

          <div class="header__big">
            <div class="header__search header-search">
              <input type="text" [formControl]="formSearch.controls.search" class="header-search__input">
              <div class="header-search__icon" (click)="getUser()">
                <div class="icon-wrap">
                  <img src="assets/images/icons/icons8-search.svg" alt="">
                </div>
              </div>
            </div>
            <ng-container
                    *ngIf="
                    formSearch.controls.switchSearch.value == true
                    && formSearch.controls.search.invalid"
            >
              <span class="form-invalid" @invalid>id может состоять только из цифр</span>
            </ng-container>
            <ng-container *ngIf="isEmpty">
              <span class="form-invalid" @invalid>запрос не может быть пустым</span>
            </ng-container>
          </div>

          <div class="header__small">
            <a href="#" class="button" routerLink="compare">
              <span class="button__text">Сравнить</span>
            </a>
          </div>
      </div>
    </form>
  </div>
</header>
