.header {
  padding: 2rem 0;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__small {
    flex: 0 0 23%;
    //text-align: center;


    
    //&:first-child {
    //  text-align: right;
    //}
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__big {
    flex: 0 0 50%;
  }

  &__search {
    display: flex;
    position: relative;
  }

  &__button {
    display: flex;
    height: 100%;
    width: 60%;
    min-width: 150px;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 11px;
    color: black;
    background: transparent;
    position: relative;
    z-index: 3;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      left: 0;
      top: 0;
      transform: translateX(100%);
      transition: all ease .2s;
      background: black;
    }

    transition: all ease .3s;

    &:hover {
      //background: black;
      color: white;

      &:before {
        transform: translateX(0);
        z-index: 0;
      }
    }
  }
}

.container {
}

.header-search {
  &__input {
    padding: 0 1rem;
    font-size: 1.3rem;
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 11px;
    transition: all ease .2s;
    cursor: pointer;

    &:active, &:focus {
      box-shadow: -3px 3px black;
      cursor: text;
    }
  }

  &__icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    right: -5px;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.icon-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.compare {
  position: relative;
  z-index: 3;
}
