.back {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 3rem;
  left: 3rem;

  &__arrow {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;

    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 60%;
      object-fit: contain;
      transition: all ease .2s;
    }

    &:hover {
      & img {
        left: 45%;
        height: 65%;
      }
    }
  }
}
